<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.food.common.StringArrayTypeHandler" alias="strArray"/>
		<typeAlias type="com.kh.food.owner.member.model.vo.Owner" alias="ownermember"/>	
		<typeAlias type="com.kh.food.customer.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.food.owner.onevsone.model.vo.OwnerQna" alias="ownerqna"/>
		<typeAlias type="com.kh.food.owner.onevsone.model.vo.OwnerQnaReview" alias="oqr"/>
		<typeAlias type="com.kh.food.owner.menu.model.vo.Menu" alias="menu"/>
	</typeAliases>
	<typeHandlers>
		<package name="com.kh.food.common"/>
	</typeHandlers>
</configuration>
