<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.kh.food.common.StringArrayTypeHandler" alias="strArray"/>
		<typeAlias type="com.kh.food.owner.member.model.vo.Owner" alias="ownermember"/>	
		<typeAlias type="com.kh.food.customer.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.food.owner.onevsone.model.vo.OwnerQna" alias="ownerqna"/>
		<typeAlias type="com.kh.food.owner.onevsone.model.vo.OwnerQnaReview" alias="oqr"/>
		<typeAlias type="com.kh.food.owner.onevsone.model.vo.OwnerQnaAttachment" alias="ownerAtt"/>
		<typeAlias type="com.kh.food.owner.menu.model.vo.Menu" alias="menu"/>
		<typeAlias type="com.kh.food.owner.store.model.vo.Store" alias="store"/>
		<typeAlias type="com.kh.food.qna.model.vo.MemberQna" alias="memberQna"/>		
		<typeAlias type="com.kh.food.qna.model.vo.MemberQnaReview" alias="memberQnaReview"/>
		<typeAlias type="com.kh.food.qna.model.vo.MemberQnaAttachment" alias="memberQnaAtt"/>
		<typeAlias type="com.kh.food.owner.order.model.vo.Pay" alias="pay"/>
	</typeAliases>
	<typeHandlers>
		<package name="com.kh.food.common"/>
	</typeHandlers>
</configuration>
