@CHARSET "UTF-8";
html {height:100%; position:relative;}
body {font-family:"D2Coding"; height:100%;}

/********** 전체컨테이너 **********/
div.container{padding-top:8%; padding-bottom:8%;}

/********** header **********/
header {}
/* header div#header-container {height:100px;}
header div#header-container h2 	{margin:30px 10px 0px 10px;} */

/********** section **********/
section {position:relative; min-height:715px;}


/********** footer **********/
footer {position:relative; width:100%; overflow:hidden;}
footer		{background-color:#f8f	9fa; background-clip:content-box; clear:both; height:95px; text-align:center;}
footer p 	{margin-top:30px;}


/* 헤더  */

.headerDiv1{
	text-align:right; 
	padding-right:10%;
    background-color: white;
    height: 30px;
}
  
/* 사장님 / 관리자 헤더 */

  .nav-link{
    color:black;
    background-color: #4D4D4D;
    margin-left: 1em;
    margin-right: 1em;
  }
  nav{
    background-color: #4D4D4D;

  }

  #topnav{
    background-color: #F8F9FA;
  }

/* 끝 */
 
/*  로그인 */ 

.send-button{
background: #54C7C3;
width:100%;
font-weight: 600;
color:#fff;
padding: 8px 25px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.g-button{
color: #fff !important;
border: 1px solid #EA4335;
background: #ea4335 !important;
width:100%;
font-weight: 600;
color:#fff;
padding: 8px 25px;
}
.my-input{
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
cursor: text;
padding: 8px 10px;
transition: border .1s linear;
}
.header-title{
margin: 5rem 0;
}

.login-or {
position: relative;
color: #aaa;
margin-top: 10px;
margin-bottom: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
.span-or {
display: block;
position: absolute;
left: 50%;
top: -2px;
margin-left: -25px;
background-color: #fff;
width: 50px;
text-align: center;
}
.hr-or {
height: 1px;
margin-top: 0px !important;
margin-bottom: 0px !important;
}
@media screen and (max-width:480px){
/* h1{
font-size: 26px;
}
h2{
font-size: 20px;
} */
}



/* 정빈 memberList */
.pnt {
	cursor: pointer;
}

img#memListProfile {
	border-radius: 150px;
	width: 50px;
	height: 50px;
}

button#memListDelBtn {
	background-color: transparent;
	border-color: transparent;
}

img.memberListDelImg {
	width: 25px;
	height: 25px;
}


h4#memberListTitle {
	display: inline;
}

div#btn-category {
	float: right;
}

div#memberList {
	margin-top: 15px;
}

thead#tableHead {
	background-color: #4D4D4D;
	color: rgba(255, 255, 255, .5);
}

/* 정빈ownerList */
img#ownListProfile {
	border-radius: 150px;
	width: 50px;
	height: 50px;
}

button#ownerDelBtn {
	background-color: transparent;
	border-color: transparent;
}

img.ownerListDelImg {
	width: 25px;
	height: 25px;
}


h4#ownerListTitle {
	display: inline;
}

div#ownerList {
	margin-top: 15px;
}


/* 정빈 memberNoticeList, ownerNoticeList */
#noticeTitleTd{
   width:800px;
}
#topTable {
   background-color: #4D4D4D;
   color: rgba(255, 255, 255, .5);
}

#noticeListCount {
   float: left;
}

#noticeListCount2 {
   color: red;
   float: left;
}
.pnt{
   cursor:pointer;
}


/* 정빈 noticeView */
#noticeViewDate {
	color: #898989;
}

button#noticeCancelkBtn{
	background-color: transparent;
	border-color: transparent;
}

button#noticeUpBtn{
background-color: transparent;
	border-color: transparent;
}

button#noticeListBtn{
background-color: transparent;
	border-color: transparent;
}

