@CHARSET "UTF-8";
html {min-height:100%; position:relative;}
body {font-family:"D2Coding"; min-height:100%;}

/********** 전체컨테이너 **********/
div.container{padding-top:5%; padding-bottom:15%;}

/********** header **********/
header {}
/* header div#header-container {height:100px;}
header div#header-container h2 	{margin:30px 10px 0px 10px;} */


/********** footer **********/
footer {position:absolute; bottom:0; width:100%; overflow:hidden;}
footer		{background-color:#f8f	9fa; background-clip:content-box; clear:both; height:95px; text-align:center;}
footer p 	{margin-top:30px;}

/* 회원 헤더 */
 .newsletter  {
background-color: #4D4D4D;
height: 200px;
}
.newsletter .content {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.newsletter .content h2 {
color: #ffffff;
margin-bottom: 40px; }
.newsletter .content .form-control {
height: 50px;
border-color: #ffffff;
border-radius:0;
}
.newsletter .content.form-control:focus {
box-shadow: none;
border: 2px solid #243c4f;
}
.newsletter .content .btn {
min-height: 50px; 
border-radius:0;
background: #243c4f;
color: #fff;
font-weight:600;
}


.headerDiv2{
    margin-top: 20px;
}  

#positionBtn
{
    margin-right: 15px;
}

#locationImg{
    width: 30px;
    height:30px;
}

/* 공통 헤더  */

.headerDiv1{
	text-align:right; 
	padding-right:10%;
    background-color: white;
    height: 30px;
}
  
/* 사장님 / 관리자 헤더 */

  .nav-link{
    color:black;
    background-color: #4D4D4D;
    margin-left: 1em;
    margin-right: 1em;
  }
  nav{
    background-color: #4D4D4D;

  }

  #topnav{
    background-color: #F8F9FA;
  }

