<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<!-- 회원관리 -->
	
	<!-- 회원리스트 -->
	<select id="selectListMember" resultType="Map">
	select * from member order by membernum desc
	</select>
	 
	 <!-- 사장님 리스트 -->
	 <select id="selectListOwner" resultType="Map">
	 select * from owner o, store s where o.ownerid=s.ownerid order by ownernum desc
	 </select>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 <!-- 공지사항 -->
	 
	 <!-- 회원공지사항리스트 -->
	<select id="selectMemberNoticeList" resultType="Map">
	select * from notice order by noticenum desc
	</select> 
	
	
	<!-- 회원공지사항 뷰 -->
	<select id="selectMemberNotice" parameterType="_int" resultType="Map">
	select * from notice where noticenum=#{noticeNum}
	</select>
	
	<!-- 회원공지사항 삭제 -->
	<delete id="deleteMemberNotice" parameterType="_int">
	delete from notice where noticenum=#{noticeNum}
	</delete>
	
	<!-- 회원공지사항 등록 -->
	<insert id="insertMemberNotice" parameterType="Map">
	insert into notice values(seq_noticenum.nextval, #{noticeTitle},sysdate,default, default,#{noticeContent})
	<selectKey keyProperty="noticeNum" resultType="_int" order="AFTER">
		select seq_noticenum.currval from dual
	</selectKey>
	</insert>
</mapper>