<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<!-- 회원관리 -->
	
	<!-- 회원리스트 -->
	<select id="selectListMember" resultType="Map">
	select * from member where memberid not in('admin') order by membernum desc
	</select>
	
	<!-- 회원 페이징 -->
	 <select id="memCount" resultType="_int">
	 select count(*) from member
	 </select>
	 
	 <!-- 사장님 리스트 -->
	 <select id="selectListOwner" resultType="Map">
	 select * from owner order by ownernum desc
	 </select>
	 
	 <!-- 사장 페이징 -->
	 <select id="ownCount" resultType="_int">
	  select count(*) from owner o, store s where o.ownerid=s.ownerid
	 </select>
	 
	  <!-- 회원삭제 -->
	 <delete id="deleteMember" parameterType="String" >
	 delete from member where memberid=#{MEMBERID}
	 </delete>
	 
	<!-- 회원상세보기 -->
   <select id="memberOne" resultType="Map" parameterType="_int">
   select * from member where membernum=#{memberNum}
   </select>
	
	<!-- 사장상세보기 -->
<!-- 	<select id="ownerOne" resultType="Map" parameterType="_int">
	select * from owner where ownernum=#{ownerNum} 
	</select> -->
	
	<!-- 회원 삭제 -->
	<delete id="memberDel" parameterType="_int">
	delete from member where membernum=#{memberNum}
	</delete>
	 
	 <!-- 사장 삭제 -->
	<delete id="ownerDel" parameterType="String">
	delete from owner where ownerid=#{ownerId}
	</delete>
	 
</mapper>