<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
     

	 
     <resultMap id="member" type="map">
	</resultMap>
	 <resultMap id="store" type="map">
	</resultMap>
	
	   <resultMap id="member1" type="member">
	</resultMap>
	<insert id="insertMember" parameterType="member" >
		insert into member values(SEQ_MEMBERNUM.nextval,#{memberId},#{memberPw},#{memberName},#{memberAddress},#{memberBirth},#{memberPhone},#{memberEmail},#{nickName},default,#{memberGender},default,#{longitude},#{atitude},default,default)
	</insert>
	
	<select id="checkId" parameterType="String" resultType="_int">
		select count(*) from member where memberId=#{memberId}
	</select>
	
	<select id="checkNick" parameterType="string" resultType="_int">
		select count(*) from member where nickName=#{nickName}
	</select>
	
	<select id="login" parameterType="map" resultMap="member">
		select * from member where memberId=#{id}
	</select>
	<select id="selectMember" parameterType="string" resultMap="member1" >
		select * from member where memberId=#{memberId}
	</select>
	<update id="update" parameterType="member">
		update member set NICKNAME=#{nickName},MEMBERBIRTH=#{formatBirth},MEMBEREMAIL=#{memberEmail},MEMBERPHONE=#{memberPhone},MEMBERADDRESS=#{memberAddress},MEMBERENROLLDATE=default,MEMBERGENDER=#{gender} where MEMBERID=#{memberId}		
	</update>
	
	<select id="selectStore" parameterType="string" resultType="store">		  	
		select* from store where STORECATEGORY=#{category} and ISCONFIRM=1	
	</select>
	<select id="selectStore2" parameterType="int" resultType="store">		  	
		select* from store where BUSINESSCODE=#{besinessCode} and ISCONFIRM=1	
	</select>
	
	 <select id="selectMenuCount" resultType="_int">
	 
		  	select count(*) from store
		  </select>
		  
		<delete id="drop" parameterType="member">
			delete from member where MEMBERID=#{memberId}
		
		</delete>
	

</mapper>
