<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="menu">
	<resultMap type="map" id="categoryMap"></resultMap>
	<resultMap type="map" id="menuMap"></resultMap>
	<insert id="insertCategory" parameterType="map">
		insert into menu_category values(SEQ_menuCategoryCode.nextval , #{menuCategory} , 38)
	</insert>
	<insert id="insertWishList" parameterType="map">
		INSERT INTO WISHLIST VALUES(SEQ_WISHNUM.NEXTVAL, #{menuCode}, #{businessCode}, #{memberId}, #{menuCount}, #{plusMenuPrice})
	</insert>
	<select id="selectWishList" parameterType="map" resultMap="menuMap">
		SELECT * FROM WISHLIST A INNER JOIN MENU B ON A.MENUCODE=B.MENUCODE WHERE A.BUSINESSCODE=#{businessCode} AND A.MEMBERID=#{memberId} ORDER BY A.WISHNUM DESC 
	</select>
	
	<insert id="insertMenu" parameterType="map">
		insert into menu values(seq_menucode.nextval,38,#{menuCategoryCode},#{menuName},#{menuContent},#{menuPrice},#{menuImage},default)
	</insert>
	<update id="updateMenuCount" parameterType="map">
		UPDATE WISHLIST SET MENUCOUNT=#{plusCount} WHERE MENUCODE=#{menuCode}
	</update>
	<select id="menuCounts" parameterType="_int" resultType="_int">
		SELECT MENUCOUNT FROM WISHLIST WHERE MENUCODE=#{menuCode} GROUP BY MENUCOUNT
	</select>
	<delete id="deleteMenuCount" parameterType="_int">
		DELETE FROM WISHLIST WHERE MENUCODE=#{menuCode}
	</delete>
	
	
	<delete id="deleteCategory" parameterType="string">
		delete from menu_category where menucategorycode = #{menuCategory}
	</delete>
	<select id="selectMenuCategory" parameterType="string" resultMap="categoryMap">
		select * from menu_category where businesscode = #{businessCode} order by menucategorycode asc
	</select>
	<select id="selectMenuList" parameterType="string" resultMap="menuMap">
		select * from menu where businessCode = #{businessCode}
	</select>
	
	<update id="updateMenuPrice" parameterType="map">
			update menu set menuprice = #{menuPrice} where menucode = #{menuCode}
	</update>
	
	<delete id="deleteMenu" parameterType="string">
		delete from menu where menucode = #{menuCode}
	</delete>
	
	<select id="selectOneMenu" parameterType="string" resultType="map">
		select * from menu where menucode = #{menuCode}
	</select>
	
	<update id="updateMenu" parameterType="menu" >
		update menu set menuName = #{menuName} , menuPrice = #{menuPrice} , menuContent = #{menuContent} , menuImage = #{menuImage} where menuCode = #{menuCode}
	</update>
	
	<update id="updateMenuSoldOut" parameterType="string">
		update menu set menuSoldOut = 1 where menuCode = #{menuCode}
	</update>
	
	<update id="updateCancleSoldOut" parameterType="string">
		update menu set menuSoldOut = 0 where menuCode = #{menuCode}
	</update>
	
	<select id="menuSelect" parameterType="_int" resultType="menu">
		SELECT * FROM MENU WHERE MENUCODE=#{menuCode}
	</select>
	
</mapper>
