<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="oneVSone">
	<select id="oneVSoneList" resultType="map">
		SELECT A.*, B.* FROM OWNER_QNA A INNER JOIN OWNER B ON A.BUSINESSCODE=B.OWNERNUM ORDER BY WRITEDATE DESC
	</select>
</mapper>
