<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ownerOrder">
	<select id="selectOrderList" resultType="com.kh.food.owner.order.model.vo.Pay">
			select P.*,M.MEMBERID,M.MEMBERNAME,M.MEMBERPHONE,ME.MENUNAME from pay P JOIN MEMBER M ON(P.MEMBERNUM = M.MEMBERNUM) JOIN MENU ME ON(ME.MENUCODE = P.MENUCODE) order by paynum desc
	</select>
	<select id="selectPayOrderNum" parameterType="string" resultType="map">			
		select P.*,M.MEMBERID,M.MEMBERNAME,M.MEMBERPHONE,ME.MENUNAME from pay P JOIN MEMBER M ON(P.MEMBERNUM = M.MEMBERNUM) JOIN MENU ME ON(ME.MENUCODE = P.MENUCODE) WHERE P.PAYORDERNUM = #{payOrderNum}
	</select>
	
</mapper>
