<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ownerMember">
	<insert id="insertOwner" parameterType="ownermember">
		insert into owner values(SEQ_OWNERNUM.nextval , #{ownerId},#{ownerPw},#{ownerName},#{ownerPhone},#{ownerEmail},sysdate)
	</insert>
	
	<select id="selectLogin" parameterType="string" resultType="ownermember">
		select * from owner where ownerid = #{ownerId}
	</select>
	
	<select id="selectSearchId" parameterType="map" resultType="map">
		select * from owner where ownername = #{ownerName} and ownerEmail = #{ownerEmail}
	</select>
	
	<select id="ownerNoticeList" resultType="map">
		SELECT * FROM NOTICE ORDER BY WRITEDATE DESC
	</select>
	
	<select id="selectConfirmIdEmail" resultType="map" parameterType="map">
		select * from owner where ownerId = #{ownerId} and ownerEmail = #{ownerEmail}
	</select>
	
	<update id="updateTempPw" parameterType="map">
		update owner set ownerPw = #{ownerPw} where ownerId = #{ownerId} and ownerEmail = #{ownerEmail}
	</update>
</mapper>
